div {
    min-width: 50%;
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.detail-card {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;

}

.divider {
    margin: 0 1em 1em 1em;
}

.clickableRow:hover {
    background-color: lightgray;
    cursor: pointer;
}