div {
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto 2em auto;
}

.clickableRow:hover {
    background-color: lightgray;
    cursor: pointer;
}