<!-- Office Table -->
<div class="table">
  <table mat-table [dataSource]="officeList" class="mat-elevation-z8">
    <!--  -->
    <ngContainer matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let office">{{ office.id }}</td>
    </ngContainer>

    <!--* Name  -->
    <ngContainer matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let office">{{ office.name }}</td>
    </ngContainer>

    <!--* Count of Employees -->
    <ngContainer matColumnDef="numOfEmployees">
      <th mat-header-cell *matHeaderCellDef>No. of Employees</th>
      <td mat-cell *matCellDef="let office">
        {{ office.employees.length }}
      </td>
    </ngContainer>

    <!--* Capacity -->
    <ngContainer matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef>Capacity</th>
      <td mat-cell *matCellDef="let office">{{ office.capacity }}</td>
    </ngContainer>

    <!--* Actions -->
    <ngContainer matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let office">
        <button mat-button color="primary" (click)="editOffice(office)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="deleteOffice(office.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ngContainer>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="clickableRow"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>

<!-- Add New Office form -->
<!-- TODO FUTURE ADD: move this to its own component where more info can be taken in. -->
<div>
  <form>
    <mat-form-field>
      <mat-label>New Office Name</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="newName"
        name="officeName"
        placeholder="Enter office name"
        value=""
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Office Capacity</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="newCapacity"
        name="officeCapacity"
        placeholder="Enter Capacity"
        value=""
      />
    </mat-form-field>
    <button mat-flat-button (click)="addOffice()">Add Office</button>
  </form>
</div>
